<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SNB Automation Suite" thread-count="2" parallel="tests">

	<!-- <listeners> <listener class-name="com.snb.automation.listeners.ScreenShotListeners"></listener> 
		<listener class-name="com.snb.automation.listeners.RetryListener"></listener> 
		</listeners> -->



	<test name="SNB-CSR Portal TestCases">
		<parameter name="projectURL"
			value="http://www.google.co.in"></parameter>
		<parameter name="reportType" value="./CSRTestReports/ExtentReport.html"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<!-- <parameter name="site" value="OAP"></parameter>
		<parameter name="username" value="oappuser"/>
		<parameter name="password" value="oappwd"/> -->
	<classes>
			<class name="com.snb.OAP.automation.testcases.OAPLogout" />
			<!-- <class name="com.snb.automation.testcases.CSRLandingPageTestCases"></class> -->
			<!-- <class name="com.snb.automation.testcases.OAPLandingPageTestCase"></class> -->
		</classes>
	</test> <!-- Test -->
	
	<!-- 
	<test name="OAP Portal TestCases">
		<parameter name="projectURL"
			value="http://localhost:7777/portalserver/snb-csr/index"></parameter>
		<parameter name="reportType" value="./CSRTestReports/ExtentReport.html"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="site" value="CSR"></parameter>
		<parameter name="username" value="csruser"/>
		<parameter name="password" value="csrpwd"/>
		
	<classes>
			<class name="com.snb.CSR.automation.testcases.SNBUSA41CSRLogin" />
			<class name="com.snb.automation.testcases.CSRLandingPageTestCases"></class>
			<class name="com.snb.automation.testcases.OAPLandingPageTestCase"></class>
		</classes>
	</test> Test
 -->

</suite> <!-- Suite -->
